
h1,h2,h3,h4,h5,h6{margin: 0;}
body{background-color: #f5f5f5;overflow-x: hidden;}

// Start Navbar

.navbar{
	background-color: #f5f5f5;
	border: 0;
	margin-bottom: 0;

	.navbar-collapse{border-top: 0!important;}

	
	li a {
		font-size: 18px;
	    padding-top: 15px !important;
	    padding-bottom: 15px !important;
	    border-radius: 5px;
	    border-bottom: 0 !important;
	    color: #5f7a89 !important;
	    margin: 5px 0;
	    transition: background-color .2s ease-in-out;

	    &:hover{
	    	background-color: #5f7a89 !important;
			color: #f5f5f5 !important;
	    }
	    
	}

	li.active > a{
		background-color: #5f7a89 !important;
		color: #f5f5f5 !important;
	}

	.navbar-brand{
		font-weight: 600;
		color: #5f7a89 !important;

		span{
			display: inline-block;
			text-transform: capitalize;
		}

		&:hover{
			color: #5f7a89;
		}
	}

}

// Big devices 

@media (min-width: 1200px){

	.navbar{
		box-shadow: 0px 3px 8px 7px #b1b8bd;
		z-index: 9999;

		.navbar-nav{
			padding: 0px 22px;

			a{padding-left: 10px}
		}

		.navbar-collapse{margin-top: 20px}

		.navbar-header{
			text-align: center;padding: 50px 0;

			.navbar-brand{
				padding: 0;
				font-size: 30px;
				text-transform: uppercase;
				span{font-size: 25px;}
			}
		}

	}

}

// Medium devices 

@media (max-width: 768px){

	.col-lg-2{min-height: 0;}

	.navbar{
		background-color: transparent;
		position: absolute;
    	z-index: 999;
    	width: 100%;

    	.navbar-collapse{
    		background-color: rgba(245, 245, 245, 0.9);
    		text-align: center;
    	}

    	li a{
    		font-weight: 600;
    		padding: 10px 0;
			font-size: 16px;
    	}
		
		.navbar-header{
			background-color: #f5f5f5;
			
			.navbar-brand{
				font-size: 18px;
				font-weight: 600;

				span{margin-left: 5px;font-weight: 200}
			}
		}

	}
}

// Start intro

.col-sm-9,.col-lg-10{padding: 0;}

.intro{
	background-image: url('../img/intro-bg.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position: relative;

	.overlay{
		background: linear-gradient(to right, rgba(245, 245, 245, 0.5) 0%,rgba(51, 75, 81, 0.5) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	h2{
		font-size: 73px;
		color: #f3f5f5;
		margin: 0;
		font-weight: 600;
	}

	h3{
		font-size: 54px;
		color: #fff;
		margin-top: -8px;
		font-weight: 600;
	}

	h4{
		font-size: 30px;
		color: #f3f5f5;
		margin-top: -8px;
		font-weight: 600;
	}

	.btn{
		background: transparent;
		padding: 10px 50px;
		border-radius: 5px;
		margin-top: 25px;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		border: 3px solid#fff;
		transition: background-color .4s ease-in-out;

		&:hover{
			background-color: #f5f5f5;
			color: #334b51;
		}
	}
}

// Medium devices

@media (max-width: 768px){

	.intro{

		h2{font-size: 63px;}

		h3{font-size: 44px;}

		h4{font-size: 20px;margin-top: 5px;}
	}
}